# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: mariadb
    restart: "on-failure"
    env_file: docker-compose.env
    volumes:
      - ./volumes/mariadb:/var/lib/mysql
    
  adminer:
    image: adminer
    restart: "on-failure"
    ports:
      - 8080:8080
    links:
      - db
  
  web:
    build: .
    env_file: docker-compose.env
    restart: "on-failure"
    ports:
      - 8000:8000
    command: python ./web/manage.py runserver 0.0.0.0:8000
    links:
      - db
    depends_on:
      - db