{% extends "detectors/sidebar.html" %}

{% block title %}Detector List{% endblock title %}

{% block header %}
	<h2>Detector Search</h2>
	<p>Detector search results</p>
{% endblock header %}

{% block content %}
	
	<section>
		<h2>Search</h2>
		<form class="d-flex" role="search" method="POST" action="{% url 'detectors-search' %}">
			<div class="row uniform">
				<div class="12u">
					<label for="search_name">Search in Detector name</label>
					<input
							class="form-control me-2"
							type="text"
							placeholder="Detector name"
							name="search_name"
							aria-label="Search"
							value="{{search_name}}"
					>
				</div>
			</div>
			<div class="row uniform">
				<div class="12u">
					<label for="search_position">Search in name</label>
					<input
							class="form-control me-2"
							type="text"
							placeholder="Position name"
							name="search_position"
							aria-label="Search"
							value="{{search_position}}"
					>
				</div>
			</div>
			<div class="row uniform">
				<div class="4u 12u(3)">
					<ul class="actions">
						<li><input type="submit" value="Search"></li>
					</ul>
				</div>
			</div>
			{% csrf_token %}
		</form>
	
		{% if detectors_found %}
			<p>Found <strong>{{ detectors_found|length}}</strong> detectors matching your search:</p>
			{% include "detectors/table.html" with detector_list=detectors_found %}
		{% elif posted %}
			<p>No detectors found</p>
		{% endif %}
	</section>
	
{% endblock content %}