{% extends "detectors/sidebar.html" %}
{% load mathfilters %}

{% block title %}
	{% if detector %}
		Detector: {{ detector.name }}
	{% else %}
		Detector: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if detector %}
		<h2>Detector: {{ detector.name }}</h2>
	{% else %}
		<h2>Detector - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}

	{% if detector %}
		<section>
			<h2>Detector Info</h2>
			<dl>
				<dt>Name</dt>
					<dd>{{ detector.name }}</dd>
				<dt>Description</dt>
					<dd>{{ detector.description | linebreaks }}</dd>
				<dt>Unique ID</dt>
					<dd>{{ detector.uuid }}</dd>
				<br/>
				<dt>At Position</dt>
					<dd><a href="/positions/{{ detector.position.id }}/">{{ detector.position.name }}</a></dd>
			</dl>
		
		</section>

		{% if detections_per_week %}
			<section>
				<h3>Chart of detections per day</h3>
				<p id="loading-chart"></p>
				<canvas id="chart" width="600" height="{{ detections_per_week|mul:20 }}"></canvas>
			</section>
			
			<section>
				<h3>Table of detections per week</h3>
				<table>
					<thead>
					<tr><td>Week and year</td><td>Count</td></tr>
					</thead>
					{% for dpw in detections_per_week%}
						<tr><td>Week {{ dpw.week }}, {{ dpw.year }}</td><td>{{ dpw.count }}</td></tr>
					{% endfor %}
				</table>
			</section>
		{% else %}
			<p>No detections logged for this detector yet.</p>
		{% endif %}
		
	{% else %}
		{# This should never be used as it should be a 404 #}
		<p>Error: Detector not found.</p>
	{% endif %}
{% endblock content %}

{% block foot %}
	<script>	
		(function createChart() {
			$("#loading-chart").text("Loading chart...")
			loadScriptsWithPromise( [
				// This one MUST be fully loaded BEFORE the next one
				// It will NOT working loading them at the same time.
				'https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js'
			],
			function () {
				loadScriptsWithPromise([
						'https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js'
					],
					function () {
						let ctx = document.getElementById("chart").getContext("2d");
						const data = {
							datasets: [{
								label: "Detection number per week",
								backgroundColor: "#79C8AE",
								borderColor: "#419076",
								data: [
									{% for dpw in detections_per_day %}
										{
											x: "{{ dpw.year }}-{{ dpw.month|stringformat:"02d" }}-{{ dpw.day|stringformat:"02d" }}",
											y: {{ dpw.count }}
										},
									{% endfor %}
								]
							}]
						};

						console.log("createchart");
						new Chart(ctx, {
							type: "bar",
							data: data,
							options: {
								responsive: true,
								interaction: {
									mode: 'nearest',
								},
								scales: {
									x: {
										type: 'time',
										//time: {
										//	unit: 'week'
										//},
										display: true,
										title: {
											display: true,
											text: 'Date'
										},
										ticks: {
											autoSkip: true,
											major: {
												enabled: true
											},
										}
									},
									y: {
										display: true,
										title: {
											display: true,
											text: 'Detections'
										},
									}
								},
								plugins: {
									legend: null,
								}
							}
						});
						$("#loading-chart").text("")
					});  // loadScriptsWithPromise 2
			})  // loadScriptsWithPromise 1
			
		})();
	</script>
{% endblock foot %}