{% extends "detectors/sidebar.html" %}


{% block title %}
	{% if detector %}
		Detector: {{ detector.name }}
	{% else %}
		Detector: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if detector %}
		<h2>Detector: {{ detector.name }}</h2>
	{% else %}
		<h2>Detector - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}

	{% if detector %}
		<section>
			<h2>Detector Info</h2>
			<dl>
				<dt>Name</dt>
					<dd>{{ detector.name }}</dd>
				<dt>Description</dt>
					<dd>{{ detector.description }}</dd>
				<dt>uuid</dt>
					<dd>{{ detector.uuid }}</dd>
				<br/>
				<dt>At Position</dt>
					<dd><a href="/positions/{{ detector.position.id }}/">{{ detector.position.name }}</a></dd>
			</dl>
		
		</section>
		
		<section>
			<h3>Detections by this detector</h3>
			<table>
				<thead>
				<tr><td>Week and year</td><td>Count</td></tr>				
				</thead>
			{% for dpw in detections_per_week%}
				<tr><td>Week {{ dpw.week }}, {{ dpw.year }}</td><td>{{ dpw.date__count }}</td></tr>
			{% endfor %}
			</table>
		</section>
		
	{% else %}
		{# This should never be used as it should be a 404 #}
		<p>Error: Detector not found.</p>
	{% endif %}
{% endblock content %}