{% extends "detections/sidebar.html" %}

{% block title %}Detection List{% endblock title %}

{% block header %}
	<h2>Detection List</h2>
	<p>Listing all detections catalogued</p>
{% endblock header %}

{% block content %}
	<section>
		{% if detection_list %}
			<p>Showing {{ detection_list | length }} detections of {{ count }}.</p>
			{% include "detections/table.html" with detection_list=detection_list %}
		{% else %}
			<p>No detections are available.</p>
		{% endif %}
	
	</section>
{% endblock content %}

