{% extends "detections/sidebar.html" %}


{% block title %}
	{% if detection %}
		Detection on {{ detection.date | date:"jS F, Y" }}
	{% else %}
		Detection: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if detection %}
		<h2>Detection on {{ detection.date | date:"jS F, Y"  }}</h2>
	{% else %}
		<h2>Detection - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}

	{% if detection %}
		<section>
			<h2>Detection Info</h2>
			<dl>
				{# Date formatting https://docs.djangoproject.com/en/dev/ref/templates/builtins/#date #}
				<dt>Date</dt>
					<dd>{{ detection.date | date:"jS F, Y" }}</dd>
				<dt>Time</dt>
					<dd>{{ detection.date | date:"G:i:s" }}</dd>
				<dt>Species detected</dt>
					<dd><a href="/species/{{ detection.species.id }}/">{{ detection.species.common_name }}</a> ({{ detection.species.scientific_name }})</dd>
				<dt>Confidence</dt>
					<dd>
						{{ detection.confidence }}
						{% if detection.confidence < 0.5 %}
							(low)
						{% elif detection.confidence < 0.7 %}
							(fair)
						{% elif detection.confidence < 0.9 %}
							(good)
						{% else %}
							(high)
						{% endif %}
					</dd>
				<dt>Analysis by</dt>
					<dd><a href="/analyses/{{ detection.analysis.id }}/">{{ detection.analysis.name }}</a></dd>
				<br/>
				<dt>uuid</dt>
					<dd>{{ detection.uuid }}</dd>
			</dl>
		</section>
		
	{% else %}
		{# This should never be used as it should be a 404 #}
		<p>Error: Detection not found.</p>
	{% endif %}
{% endblock content %}