{% extends "detections/sidebar.html" %}


{% block title %}
	{% if detection %}
		Detection: {{ detection.date }}
	{% else %}
		Detection: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if detection %}
		<h2>Detection at {{ detection.date }}</h2>
	{% else %}
		<h2>Detection - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}

	{% if detection %}
		<section>
			<h2>Detection Info</h2>
			<dl>
				<dt>Date</dt>
					<dd>{{ detection.date }}</dd>
				<dt>Species common name</dt>
					<dd><a href="/species/{{ detection.species.id }}/">{{ detection.species.common_name }}</a></dd>
				<dt>Confidence</dt>
					<dd>
						{{ detection.confidence }}
						{% if detection.confidence < 0.5 %}
							(low)
						{% elif detection.confidence < 0.7 %}
							(fair)
						{% elif detection.confidence < 0.9 %}
							(good)
						{% else %}
							(high)
						{%  endif %}
					</dd>
				<dt>Detector</dt>
					<dd><a href="/detectors/{{ detection.detector.id }}/">{{ detection.detector.name }}</a></dd>
				<dt>Analysis by</dt>
					<dd><a href="/analyses/{{ detection.analysis.id }}/">{{ detection.analysis.name }}</a></dd>
			</dl>
		</section>
		
	{% else %}
		{# This should never be used as it should be a 404 #}
		<p>Error: Detection not found.</p>
	{% endif %}
{% endblock content %}