{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/dragtable.mod.min.css" /> #}

<table id="lister-table">
	<thead>
		<td>Date and Time</td>
		{% if not hide_species %}
			<td>Species detected</td>
		{% endif %}
		<td>Confidence</td>
	</thead>
	<tbody>
	{% for detection in detection_list %}
		<tr>
			<td><a href="/detections/{{ detection.id }}/">{{ detection.date | date:"j F Y, H:i\h" }}</a></td>
			{% if not hide_species %}
				<td><a href="/species/{{ detection.species.id }}/">{{ detection.species.common_name }}</a> &nbsp; ({{ detection.species.scientific_name }})</td>
			{% endif %}
			<td>{{ detection.confidence }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<p><small style="text-align: right">You can double-click the headings to sort the columns.</small></p>

<script>
	(function tableSorter() {
		let script = document.createElement('script');
		script.addEventListener('load', (event) => {
			// TableSorter from https://mottie.github.io/tablesorter/docs/
			$("#lister-table").tablesorter({
				theme : 'bootstrap',
			});
		});

		// load the script file
		script.src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js';
		document.body.appendChild(script);
	})();
	
</script>