{% extends "analyses/sidebar.html" %}

{% block title %}Analysis List{% endblock title %}

{% block header %}
	<h2>Analysis Search</h2>
	<p>Analysis search results</p>
{% endblock header %}

{% block content %}
	
	<section>
		<h2>Search</h2>
		<form class="d-flex" role="search" method="POST" action="{% url 'analyses-search' %}">
			<div class="row uniform">
				<div class="12u">
					<label for="search_name">Search in Analysis name</label>
					<input
							class="form-control me-2"
							type="text"
							placeholder="Analysis name"
							name="search_name"
							aria-label="Search"
							value="{{search_name}}"
					>
				</div>
			</div>
			<div class="row uniform">
				<div class="4u 12u(3)">
					<ul class="actions">
						<li><input type="submit" value="Search"></li>
					</ul>
				</div>
			</div>
			{% csrf_token %}
		</form>
	
		{% if analyses_found %}
			<p>Found <strong>{{ analyses_found|length}}</strong> analyses matching your search:</p>
			{% include "analyses/table.html" with analysis_list=analyses_found %}
		{% elif posted %}
			<p>No analyses found</p>
		{% endif %}
	</section>
	
{% endblock content %}