{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/dragtable.mod.min.css" /> #}

<table id="lister-table">
	<thead>
		<tr>
			<td>Analysis</td>
			<td>Description</td>
			<td>URL</td>
		</tr>
	</thead>

	<tbody>
	{% for analysis in analysis_list %}
		<tr>
			<td><a href="/analyses/{{ analysis.id }}/">{{ analysis.name }}</a></td>
			<td>{{ analysis.description | truncatechars:150 }}</td>
			<td>{{ analysis.url}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% include "extras/tablecode.html" %}
