{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/dragtable.mod.min.css" /> #}

<table id="lister-table">
	<thead>
		<tr>
			<td>Position</td>
			<td>Description</td>
			<td>Lat/Long</td>
		</tr>
	</thead>

	<tbody>
	{% for position in position_list %}
		<tr>
			<td><a href="/positions/{{ position.id }}/">{{ position.name }}</a></td>
			<td>{{ position.description | truncatechars:150 }}</td>
			<td>North&nbsp;{{position.latitude}},<br/>East&nbsp;{{position.longitude}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% include "extras/tablecode.html" %}