{% extends "without-sidebar.html" %}
{% load static %}

{% block header %}
	<h2>About</h2>
	<p>About this Wildlife Monitoring website</p>
{% endblock header %}

{% block content %}
	
	{# <a href="#" class="image fit"><img src="{% static 'images/pic07.jpg'%}" alt="" /></a> #}
	<h2>General</h2>
	<p>
		This website currently holds the data captured at a monitoring station on the banks of the River Thames 
		near Clifton Hampden, Oxfordshire. See more information at this <a href="/positions/1/">Position</a>.
	</p>
	
	<p>A modern <i>monitoring station</i> is a structure placed somewhere outside, and they will have various detectors 
		attached to them. It will typically record things like sound, images, and the weather in its area. And 
		Ultimately, it is there to detect the wildlife and measure the biodiversity.</p>
	
	<h3>Background</h3>
	<p>
	You can find more about the background to this project on Earth Trust's website
		<a href="https://earthtrust.org.uk/what_we_do/biodiversity-monitoring-at-river-of-life-ii/">here</a>.
	</p>
	
	<h3>Wikipedia links</h3>
	<p>Some of the data displayed on the species pages comes directly from Wikipedia and its associated websites.
		This is stated on each page when used, but in general, it can be assumed that
		the descriptions and photos of a species come from those excellent resources.
		<br/>
		For example the images on the <a href="/species/69/">Robin page</a> are taken from its corresponding 
		<a href="https://commons.wikimedia.org/wiki/Erithacus_rubecula">Wikimedia</a> page.
		<br/>
		Thank you to the people who make their work free so that websites like this one can exist.
	</p>

	<h2>Data and the datasets</h2>
	<p>
	This website is divided up in to several different types of data. You will most likely be interested in the 
		<a href="/species/">Species</a> data set, but the other parts also contain useful information on how the 
		species data was collated.
	</p>
	<p>
		The five different datasets included in the website - 
		Analyses, Detections, Detectors, Positions and Species - are each described below. But in simple terms:
	</p>
	<ul>
		<li>A <b>Position</b> (i.e. a monitoring station) has several <b>Detectors</b> (e.g. a camera).</li>
		<li>Each <b>Detector</b> captures a specific kind of data (e.g. a camera captures a photo).</li>
		<li>An <b>Analyses</b> scans the data to see if it can find a <b>Species</b>. (There's a bird in the photo).</li>
		<li>A <b>Detection</b> records when a species was found. (On Monday, there was a Blue Tit at the monitoring station!).</li>
	</ul>
	
	<h3>Confidence ratings</h3>
	<p>
		Several of the <b>Analyses</b> are AI based. It is typical for these types of processes to include "confidence ratings".
		These show "how sure" (or confident) a process is that it made the right determination when selecting a Species.
		You will find them attached to individual <b>Detections</b> and averaged for each <b>Species</b>.
	</p>
	<p>
		Confidence ratings take a value between 0.0 and 1.0. A higher value means a higher confidence. 
		This website only includes detections that are higher than 0.5. You can think of a 
		value between 0.5 and 0.7 as being <i>OK</i>, a value between 0.7 to 0.8 as being <i>Good</i>,
		a value 0.8 to 0.9 as being <i>High</i>, and a value between 0.9 and 1.0 as being <i>Very High</i>.
	</p>
	
	<h3>Analyses dataset</h3>
	<p>This dataset includes processes that have been run to identify a <strong>Species</strong>. 
		This might be a simple piece of software, an AI trained to identify a species from a sound, or in a special case, a human.
	</p>
	
	<p>An Analyses is designed to run on a particular <strong>Detector</strong>.
	</p>
	
	<p>See a list of analyses <a href="/analyses/">here</a>.</p>
	
	<h3>Detections dataset</h3>
	<p>
		This dataset stores each individual detection of a <strong>Species</strong>. It records the name of the species, 
		at what time and date is was detected, and what <strong>Analyses</strong> was used.
		 
	</p>
	<p>See a list of detections <a href="/detections/">here</a>.</p>
	
	<h3>Detectors dataset</h3>
	<p>
		Detectors are the physical devices used to capture a piece of data. A  typical example would be a camera or 
		or a microphone. They are located at a certain <strong>Position</strong>. The data each collects is run
		through a certain <strong>Analyses</strong>. 
	</p>
	<p>See a list of detectors <a href="/detectors">here</a>.</p>
	
	<h3>Positions dataset</h3>
	<p>
		This is the precise location and description of a monitoring station. It has a list of the detectors attached.
	</p>

	<p>
		Although it is possible for this website to record more than one monitoring station, it is currently only 
		being used for a single one.
	</p>
	<p>See the position <a href="/positions/">here</a></p>
	
	<h3>Species dataset</h3>
	<p>
		These are all the species detected. Bats, Birds and Bugs being the main ones. For instance, a 
		<a href="/species/48/"><i>Gray Wagtail</i></a> or a <a href="/species/6/"><i>Long-Eared Bat</i></a>.
	</p>
	
	<p>
		A species has a common (english) name, a scientific name, and in most cases, a description.
		The "detection count" is the number of times the species was detected. The "average confidence" is the 
		confidence taken from each of the individual detections.
	</p>
	
	<p>See a list of species <a href="/species/">here</a>.</p>



{% endblock content %}