{% extends "without-sidebar.html" %}
{% load static %}

{% block header %}
	<h2>About</h2>
	<p>About Wildlife Monitoring website</p>
{% endblock header %}

{% block content %}
	
	{# <a href="#" class="image fit"><img src="{% static 'images/pic07.jpg'%}" alt="" /></a> #}
	<h2>General</h2>
	<p>
		This website holds the data captured at monitoring stations. This is essentially
		a measure of biodiversity.
	</p>

	<p>
		Currently, there is only one monitoring station, located at Earth Trust in Oxfordshire.
	</p>
	
	<h3>Wikipedia</h3>
	<p>Some of the data used in the species pages comes from the excellent resource that is Wikipedia and Wikidata.
	where this is used is stated on each page, but in general, the descriptions and photos of species comes from there.
	Thank you to the people who make there work free so that websites like this one can exist.</p>

	<h2>Data</h2>
	<p>
		There are several types of data, Analyses, Detections, Detectors, Positions and Species; each is described below.
	</p>
	<h3>Analyses</h3>
	<p>
		These are the processes that have run on the data to identify a species. This might be a simple piece of
		software, an AI trained identifier, or even a human.
	</p>
	<p>See a list of analyses <a href="/analyses/">here</a>.</p>
	
	<h3>Detections</h3>
	<p>
		These store a detection of a single species, when it happened and how it was found. Only detections with a 
	higher confidence than 0.500 are included in this website. 
	</p>
	<p>See a list of detections <a href="/detections/">here</a>.</p>
	
	<h3>Detectors</h3>
	<p>
		These are the physical devices used to capture a piece of data. A camera or microphone for example.
	</p>
	<p>See a list of detectors <a href="/detectors">here</a>.</p>
	
	<h3>Positions</h3>
	<p>
		This is the location of the monitoring station. (i.e. where all the detectors are located)
	</p>
	<p>See a list of positions <a href="/positions/">here</a>. (Only one currently!)</p>
	
	<h3>Species</h3>
	<p>
		These are all the species detected. A <i>Gray Wagtail</i> or a <i>Long-tailed Tit</i>.
	</p>
	<p>See a list of species <a href="/species/">here</a>.</p>



{% endblock content %}