{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wildlife Monitor - {% block title %}{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="A list of species detected at various locations" />
	<meta name="keywords" content="monitor,biodivesity,species,wildlife" />

	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/skel.css" />
	<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css" />

	<!--[if lte IE 8]><script src="{{ STATIC_PREFIX }}css/ie/html5shiv.js"></script><![endif]-->
	<script src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.dropotron.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.scrollgress.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.scrolly.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/jquery.slidertron.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/skel.all.min.js"></script>
	<script src="{{ STATIC_PREFIX }}js/init.min.js"></script>
	<script>
		let static_prefix = "{{ STATIC_PREFIX }}";
		function loadScriptsWithPromise(urls, fthen, fcatch) {
			let promises = [], scripts = [], d = document;
			
			urls.forEach(function (url) {
				promises.push(
					new Promise(function(res, rej) {
						let s = document.createElement('script');
						s.async = true;
						s.onload = function () {
							setTimeout(() => res(url), 100);
						};
						s.onerror = function () { rej(url); };
						s.url = url;
						scripts.push(s)
					})
				)
			});
			
			Promise.all(promises)
				.then(fthen)
				.catch(function (script) {
					console.log(script + ' failed to load');
					if( fcatch ) { fcatch(script) }
				})

			// trigger
			scripts.forEach(function (script) {
				script.src = script.url;
				document.body.appendChild(script);
			});
		}
	</script>

	<noscript>
		<link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style-xlarge.css" />
	</noscript>
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_PREFIX }}css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_PREFIX }}css/ie/v8.css" /><![endif]-->
</head>

<body class="{% block bodyclass %}{% endblock %}">

<!-- Header -->
	<header id="header" class="skel-layers-fixed">
		<h1><a href="/">Wildlife Monitoring</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				{%  comment "No search yet" %}
					<li><a href="/search/">Search</a></li>
				{% endcomment %}
				<li>
					<a href="" class="icon fa-angle-down">Explore</a>
					<ul>
						<li><a href="/analyses/"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; Analyses</a></li>
						<li><a href="/detections/"><i class="fa fa-paw" aria-hidden="true"></i>&nbsp; Detections</a></li>
						<li><a href="/detectors/"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Detectors</a></li>
						<li><a href="/positions/"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; Positions</a></li>
						<li><a href="/species/"><i class="fa fa-bug" aria-hidden="true"></i>&nbsp; Species</a></li>
						{%  comment "Just here for reference" %}
						<li>
							<a href="">Sub menu</a>
							<ul>
								<li><a href="/species/">item 1</a></li>
								<li><a href="/species/">item 2</a></li>
								<li><a href="/species/">item 3</a></li>
								<li><a href="/species/">item 4</a></li>
							</ul>
						</li>
						{% endcomment %}
					</ul>
				</li>
				<li><a href="/about/">About</a></li>
			</ul>
		</nav>
	</header>

	{% block main %}{% endblock %}

	<!-- Footer -->
	<footer id="footer">
		
		<ul class="icons">
			{%  comment %}
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
			<li><a href="#" class="icon fa-envelope"><span class="label">Envelope</span></a></li>
			{% endcomment %}
		</ul>
		
		<ul class="menu">
			{%  comment %}
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Privacy</a></li>
			{% endcomment %}
			<li><a href="/about/">About</a></li>
			<li><a href="/admin/">Admin</a></li>
			<li>Contact: J. Matthew B. Wilcoxson</li>
		</ul>
		
		<section class="copyright" >
			<p>&copy;2023 Copyright. All rights reserved.</p>
			<p>
				Website by <a style="border:0" href="http://www.akademy.co.uk">J. Matthew B. Wilcoxson.</a><br/>
				Design by <a style="border:0" href="http://www.html5webtemplates.co.uk">Responsive Web Templates</a>
			</p>
			<p>
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<i class="fa fa-paw" aria-hidden="true"></i>
				<i class="fa fa-bug" aria-hidden="true"></i>
			</p>
			<p>Dedicated to my dear, late wife, <a style="border:0" href="http://lucy.benyon.memorial/">Lucy Benyon</a></p>
		</section>
		
		<foot style="display: none">
			{% block foot %}{% endblock %}
		</foot>
	</footer>

</body>



</html>