{% extends "without-sidebar.html" %}

{% block header %}
	<h2>Explore Data</h2>
	<p>Analyses, Detections, Detectors, {# Positions, #} Species</p>
{% endblock header %}

{% block content %}
	
	<a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
	<h3>Data</h3>
	<p>Explore each of the different datas:</p>
	<ul>
		<li><a href="/analyses/">Analyses</a></li>
		<li><a href="/detections/">Detections</a></li>
		<li><a href="/detectors/">Detectors</a></li>
		{# <li><a href="/positions/">Positions</a></li> #}
		<li><a href="/species/">Species</a></li>
	</ul>
	
{% endblock content %}