{% extends "without-sidebar.html" %}

{% block header %}
	<h2>Explore Data</h2>
	<p>Analyses, Detections, Detectors, {# Positions, #} Species</p>
{% endblock header %}

{% block content %}
	
	<a href="#" class="image fit"><img src="/images/pic07.jpg" alt="" /></a>
	<h3>Data</h3>
	<p>Explore each of the different data sets:</p>

	<ul id="explore">
		<li><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp; <a href="/analyses/"><span> {{ analysis_number | floatformat:"g" }}</span> Analyses</a></li>
		<li><i class="fa fa-paw" aria-hidden="true"></i>&nbsp; <a href="/detections/"><span>{{ detection_number | floatformat:"g"}}</span> Detections</a></li>
		<li><i class="fa fa-search" aria-hidden="true"></i>&nbsp; <a href="/detectors/"><span>{{ detector_number | floatformat:"g" }}</span> Detectors</a></li>
		<li><i class="fa fa-binoculars" aria-hidden="true"></i>&nbsp; <a href="/positions/"><span>{{ position_number | floatformat:"g" }}</span> Positions</a></li>
		<li><i class="fa fa-bug" aria-hidden="true"></i>&nbsp; <a href="/species/"><span>{{ species_number | floatformat:"g"}}</span> Species</a></li>
	</ul>
	
{% endblock content %}