{% extends "base.html" %}

{# For different style on front page #}
{% block bodyclass %}landing{% endblock %}

{% block main %}
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2>Wildlife Monitoring</h2>
			<p>A searchable list of species located at a monitoring stations <br/>(currently one near Cliften Hampden, Oxfordshire, UK)</p>
			<ul class="actions">
				<li><a href="/explore/" class="button big scrolly">Explore</a></li>
				<li><a href="/species/" class="button big scrolly">Species</a></li>
			</ul>
		</div>
	</section>

{% endblock main %}