{% extends "species/sidebar.html" %}

{% block title %}Species List{% endblock title %}

{% block header %}
	<h2>Species List</h2>
	<p>Listing all species catalogued</p>
{% endblock header %}

{% block content %}
	<section>
		{% if species_list %}
			<p>Found {{ species_list | length }} species:</p>
			<table>
				<thead><td>Common Name</td><td>Scientific Name</td><td>Detection Count</td></thead>
				{% for species in species_list %}
					<tr>
						<td><a href="/species/{{ species.id }}/">{{ species.common_name }}</a></td>
						<td>{{ species.scientific_name }}</td>
						<td>{{ species.detection_count }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No species are available.</p>
		{% endif %}
	
	</section>
{% endblock content %}