{% extends "with-sidebar.html" %}

{% block title %}Species List{% endblock title %}

{% block header %}
	<h2>Species Search</h2>
	<p>Species search results</p>
{% endblock header %}

{% block content %}
	
	<p><a href="/species/">All Species</a> | Search Species </p>
	
	<section>
		<h2>Search</h2>
		<p class="tight">Search a species common name and scientific name</p>
		<form class="d-flex" role="search" method="POST" action="{% url 'species-search' %}">
			<div class="row uniform">
				<div class="8u 12u(3)">
					<input
							class="form-control me-2"
							type="text"
							placeholder="Search common name, scientific name"
							name="query"
							required aria-label="Search"
							value="{{query}}"
					>
				</div>
				<div class="4u 12u(3)">
					<ul class="actions">
						<li><input type="submit" value="Search"></li>
					</ul>
				</div>
			</div>
			{% csrf_token %}
		</form>
	
		{% if query %}
			<p>Found <strong>{{ species|length}}</strong> species matching your search:</p>
			<ul class="alt">
				{% for s in species %}
					<li><p>
							<a href="/species/{{ s.id }}/">{{ s.common_name }}</a><br/>
							{{ s.scientific_name }}
					</p></li>
				{% endfor %}
			</ul>
		{% else %}
			<h2>Please enter a search query, above</h2>
		{% endif %}
	</section>
	
{% endblock content %}