{% extends "species/sidebar.html" %}


{% block title %}
	{% if species %}
		species: {{ species.common_name }}
	{% else %}
		species: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if species %}
		<h2>Species: {{ species.common_name }}</h2>
		<p>{{ species.scientific_name }}</p>
	{% else %}
		<h2>Species - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}

	{% if species %}
		<section>
			<a href="#wikimedia"><img src="{{ photos | first }}&width=500" width="200" style="float:right"/></a>
			<h2>Species Info</h2>
		
			<dl>
				<dt>Common Name</dt>
					<dd>{{ species.common_name }}</dd>
				<dt>Scientific Name</dt>
					<dd>{{ species.scientific_name }}</dd>
			
				{% if species.description or species.wikipedia_description %}
					<dt>Description</dt>
					<dd>
						{% if species.description %}
							<p>{{ species.description }}</p>
						{% else %}
							<p>
								{{ species.wikipedia_description }}
								<br/><small style="text-align: right;width: 100%">(Description from <a href="{{ species.wikipedia_url }}">Wikipedia</a>)</small>
						{% endif %}
					</dd>
				{% endif %}
			
				<dt>Detected</dt>
					<dd>Detected <a href="#detections">{{ detections|length }} time{{ detections|pluralize }}</a>.</dd>
			
				{% if species.description %}
					<dt>Description</dt>
						<dd>{{ species.description }}</dd>
				{% endif %}
			
				<br/>
			
				{% if species.wikipedia_url %}
					<dt>Wikipedia Page</dt>
						<dd>{{ species.wikipedia_url | urlize }}</dd>
				{% endif %}
			
				{% if photos %}
					<dt id="wikimedia">Wikimedia images</dt>
					
					<dd>
						{% for photo in photos %}
							<a href="{{ species.wikimedia_url }}"><img src="{{ photo }}&width=500"/></a>
						{% endfor %}
						<p class="small">See the <a href="{{ species.wikimedia_url }}">Wikimedia page</a> for info on photo(s) and other examples.</p>
					</dd>
				{% endif %}

				<dt>UUID</dt>
					<dd>{{ species.uuid }}</dd>
			
				{% if species.wikidata_url %}
					<dt>Wikidata entry</dt>
					<dd>{{ species.wikidata_url | urlize }}</dd>
				{% endif %}
			
			
			</dl>
			

		
		</section>
		
		<section>
			<h3 id="detections">Detected on:</h3>
			{% if detections %}
				<p>{{ detections|length }} detection{{ detections|pluralize }}:</p>
				{% include "detections/table.html" with detection_list=detections hide_species=True%}
			{% else %}
				{# Only animals with at least one detection should be in the database...! #}
				<p>No detections found. Which is odd...</p>
			{% endif %}
		</section>
		
	{% else %}
		{# This should never be used as it should be a 404 #}
		<p>Error: Species not found.</p>
	{% endif %}
{% endblock content %}