{% extends "with-sidebar.html" %}


{% block title %}
	{% if species %}
		species: {{ species.common_name }}
	{% else %}
		species: Not found
	{% endif %}
{% endblock title %}


{% block header %}
	{% if species %}
		<h2>Species - {{ species.common_name }}</h2>
		<p>{{ species.scientific_name }}</p>
	{% else %}
		<h2>Species - Not found</h2>
	{% endif %}
{% endblock header %}


{% block content %}
	
	<section>
		{% if species %}
			<p>Common Name: <strong>{{ species.common_name }}</strong></p>
			<p>Scientific Name: <strong>{{ species.scientific_name }}</strong></p>
			<p>{{ species.description }}</p>
		{% else %}
			{# This should never be used as it should be a 404 #}
			<p>Error: Species not found.</p>
		{% endif %}
	
		<p>Go to <a href="/species/">List Species</a></p>
	</section>
{% endblock content %}