{# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/dragtable.mod.min.css" /> #}

<table id="lister-table">
	<thead>
		<tr>
			<td>Common Name</td>
			<td>Scientific Name</td>
			<td>Description</td>
			<td>Detection Count</td>
			<td>Average Confidence</td>
		</tr>
	</thead>

	<tbody>
	{% for species in species_list %}
		<tr>
			<td><a href="/species/{{ species.id }}/">{{ species.common_name }}</a></td>
			<td>{{ species.scientific_name }}</td>
			{% if species.description %}
				<td>{{ species.description | truncatechars:100 }}</td>
			{% else %}
				<td>{{ species.wikipedia_description | truncatechars:100 }}</td>
			{% endif %}
			<td>{{ species.detection_count }}</td>
			<td>{{ species.average_confidence | floatformat:4 }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% include "extras/tablecode.html" %}